<section class="w-full max-w-screen-lg mx-auto my-20">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-full max-w-screen-lg px-4"
  >
    <app-product title="Product 1" [price]="100" [imgPhoto]="imgPhoto" (addToCart)="mensaggeFromChild($event)"/>
    <app-product title="Product 2" [price]="250" [imgPhoto]="imgPhoto" (addToCart)="mensaggeFromChild($event)"/>
    <app-product title="Product 3" [price]="120" [imgPhoto]="imgPhoto" (addToCart)="mensaggeFromChild($event)"/>
    <app-product title="Product 4" [price]="550" [imgPhoto]="imgPhoto" (addToCart)="mensaggeFromChild($event)"/>
  </div>
</section>
